<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

</head>
<body>

<modal>

<div class="modal fade add_creature_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Select a Creature to Add</h4>
      </div>
      <div class="modal-body">
        <% for(var i=0; i<creature.length; i++){ %>
				<img id="addCharacterImage<%=i%>" class="addCharacterImage" src="images/TitanImages/<%=creature[i].name%>.jpg" width=80 height=80></img>		
			<% } %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="add_creature_btn" type="button" class="btn btn-primary" data-dismiss="modal">Add Creature</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</modal>
