<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
</head>

<body>

<tabs>

<div id="tabs" style="margin-left:10px; margin-right:10px; height:400px">
	 <ul>
	<li><a href="#tab-chat">Chat</a></li>
	<li><a href="#tab-log">Log</a></li>
	</ul>

	<div id="tab-chat">

	<div style="border-style:solid;border-width:1px;margin-left:-10px;height:300px;width:307px;overflow:auto">

	<p id="content"></p>		
	
	</div>	
	
<input type="text" id="field" width=200 style="margin-left:-10px;margin-top:5px;"></input>
	<button type="button" id="send">Send</button>	
	
	</div>

	<div id="tab-log">

	<div style="border-style:solid;border-width:1px;margin-left:-10px;height:325px;width:307px;overflow:auto">
	
	</div>    
    
	</div>

</div>

</tabs>