#board{
margin-left:50px;
}

.space{
margin-right:-11px;
margin-bottom:-76px;
position:relative;
float:left;
color: #6C6; 
font-size: 135px;
}

#row1{
margin-left: 159px;
}

#row2{
margin-left: 106px;

}

#row3{
margin-left: 53px;

}

#row4{
margin-left: 0px;
}

#row5{
margin-left: 53px;

}

#row6{
margin-left: 106px;

}

.characterImage{
margin-bottom:10px;
}

/*Makes corners on creatures rounded*/
img{
border-radius: 8px; 
-moz-border-radius: 8px; 
-webkit-border-radius: 8px; 
}

.target_area{
position:absolute; 
width:75px; 
height:75px; 
left:21px; 
top:47px; 
z-index:1;
}
.creatureOnTarget{
position:absolute;
}

.addCharacterImage{
border-style: solid;
margin-right:9px;
margin-bottom:12px;	
	
	}